node_modules
# Ignore all in lightswind
vite-project/src/components/lightswind/*

# But keep only the file you use
!vite-project/src/components/lightswind/grid-dot-background.jsx
!vite-project/src/components/lightswind/progress.jsx
!glowing-cards.d.ts
!glowing-cards.js


Font